<launch>
<node name="r_car_2" pkg="iot_connection" type="iot_connection_node" output="screen">
    <param name="product_key" value="a1GcqS5WFte" />
    <param name="device_name" value="R_CAR_2" />
    <param name="device_secret" value="c7c79ca6709af20b8c92cf64d327a57c"/>
    <param name="iot_pub_topic" value="/a1GcqS5WFte/R_CAR_2/user/R_CAR_2_PUB"/>
    <param name="iot_sub_topic" value="/a1GcqS5WFte/R_CAR_2/user/R_CAR_2_SUB"/>
    <param name="ros_sub_topic" value="/r_car_2/msg_to_iot"/>
    <param name="ros_pub_topic" value="/r_car_2/msg_from_iot"/>
    <param name="ros_iot_state_pub_topic" value="/r_car_2/iot_state"/>
    <param name="object_name" value="R_CAR_2"/>
  </node>
</launch>
