<launch>
<node name="v_car_1" pkg="iot_connection" type="iot_connection_node" output="screen">
    <param name="product_key" value="a1GcqS5WFte" />
    <param name="device_name" value="V_CAR_1" />
    <param name="device_secret" value="3cb18e0ca9f2120ca879cd676c5106bf"/>
    <param name="iot_pub_topic" value="/a1GcqS5WFte/V_CAR_1/user/V_CAR_1_PUB"/>
    <param name="iot_sub_topic" value="/a1GcqS5WFte/V_CAR_1/user/V_CAR_1_SUB"/>
    <param name="ros_sub_topic" value="/v_car_1/msg_to_iot"/>
    <param name="ros_pub_topic" value="/v_car_1/msg_from_iot"/>
    <param name="ros_iot_state_pub_topic" value="/v_car_1/iot_state"/>
    <param name="object_name" value="V_CAR_1"/>
  </node>
</launch>
