<launch>
<node name="v_uav_2" pkg="iot_connection" type="iot_connection_node" output="screen">
    <param name="product_key" value="a1GcqS5WFte" />
    <param name="device_name" value="V_UAV_2" />
    <param name="device_secret" value="ac7122c98bd4498e295e2dbf833cffdf"/>
    <param name="iot_pub_topic" value="/a1GcqS5WFte/V_UAV_2/user/V_UAV_2_PUB"/>
    <param name="iot_sub_topic" value="/a1GcqS5WFte/V_UAV_2/user/V_UAV_2_SUB"/>
    <param name="ros_sub_topic" value="/v_uav_2/msg_to_iot"/>
    <param name="ros_pub_topic" value="/v_uav_2/msg_from_iot"/>
    <param name="ros_iot_state_pub_topic" value="/v_uav_2/iot_state"/>
    <param name="object_name" value="V_UAV_2"/>
  </node>
</launch>
